/* Styling for Navbar Component */
.navbar__main {
  padding-top: 40px;
  height: 140px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.navbar__tittle {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 40px;
  color: #6379f4;
}
.navbar__name {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
}
.navbar__image {
  background-size: cover;
  border-radius: 15px;
}
.navbar__number {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: rgba(58, 61, 66, 0.9);
}
.navbar__bell {
  margin-left: -30px;
}
.navbar__bellCard {
  z-index: 1;
  padding-top: 40px;
  padding-left: 30px;
  position: fixed;
  left: 65%;
  background: #ffffff;
  box-shadow: 0px 0px 70px rgba(99, 99, 99, 0.15);
  border-radius: 20px;
  width: 400px;
  height: 500px;
}
.navbar__cardHistory {
  width: 90%;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
.navbar__historyName {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #7a7a7a;
}
.navbar__arrowUp {
  padding: 10px;
  color: #ff5b37;
}
.navbar__arrowDown {
  padding: 10px;
  color: #4cedb3;
}
.navbar__historyAmount {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #43484f;
}
/* Styling for Footer Component */
.footer__main {
  padding-top: 20px;
  height: 70px;
  background: #6379f4;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.footer__sign {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: rgba(239, 239, 239, 0.9);
}
.footer__content {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #efefef;
}
/* Styling for Menu Component */
.menu__main {
  margin-top: 40px;
  padding-top: 50px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  width: 250px;
  height: 650px;
}
.menu__option {
  width: 100%;
  margin-bottom: 50px;
}
.menu__option {
  width: 100%;
  margin-bottom: 50px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: rgba(58, 61, 66, 0.8);
}
.menu__optionActive {
  width: 100%;
  margin-bottom: 50px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #6379f4;
}
.menu__spaceLogout {
  margin-bottom: 200px;
}
.menu__icon {
  margin-left: 20px;
}
.menu__iconActive {
  border-left: 3px solid #6379f4;
  margin-left: 20px;
}
.menu__button {
  color: rgba(58, 61, 66, 0.8);
  border: none;
  background: none;
}
.menu__buttonActive {
  color: #6379f4;
  border: none;
  background: none;
}
/* Styling for Top up Component */
.topup__main {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 40%;
  background: rgba(0, 0, 0, 0.5);
  height: 960px;
  text-align: center;
  align-items: center;
}
.topup__card {
  padding: 30px;
  width: 503px;
  height: 417px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
.topup__tittle {
  text-align: left;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}
.topup__des {
  margin-top: 20px;
  text-align: left;
  width: 50%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}
.topup__input {
  text-align: center;
  margin-top: 50px;
  width: 90%;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
}
.topup__close {
  border: none;
  background: none;
}
.topup__button {
  margin-top: 50px;
  padding-right: 20px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
}
.topup__submitButton {
  width: 40%;
  height: 50px;
  border: none;
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  color: #ffffff;
}
/* Styling for Confrim Pin Component */
.confirmpin__main {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding-left: 40%;
  background: rgba(0, 0, 0, 0.5);
  height: 960px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.confirmpin__card {
  padding: 30px;
  width: 503px;
  height: 417px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
.confirmpin__tittle {
  text-align: left;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}
.confirmpin__des {
  margin-top: 20px;
  text-align: left;
  width: 70%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}
.confirmpin__setForm {
  margin-top: 50px;
}
.confirmpin__formInput {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: rgba(169, 169, 169, 0.8);
  width: 50px;
  height: 60px;
  border: 2px solid rgba(169, 169, 169, 0.8);
  background: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
}
.confirmpin__close {
  border: none;
  background: none;
}
.confirmpin__button {
  margin-top: 50px;
  padding-right: 20px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
}
.confirmpin__submitButton {
  width: 40%;
  height: 50px;
  border: none;
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  color: #ffffff;
}
/* Styling for Edit Profile Component */
.edit__main {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-left: 40%;
  background: rgba(0, 0, 0, 0.5);
  height: 960px;
  text-align: center;
  align-items: center;
}
.edit__card {
  padding: 30px;
  width: 503px;
  height: 517px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
}
.edit__tittle {
  text-align: left;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #3a3d42;
}
.edit__des {
  margin-top: 20px;
  text-align: left;
  width: 50%;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(58, 61, 66, 0.6);
}
.edit__label {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: #4d4b57;
}
.edit__input {
  text-align: center;
  margin-bottom: 10px;
  width: 90%;
  height: 40px;
  background: #ffffff;
  border: 1px solid rgba(169, 169, 169, 0.6);
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;
}
.edit__close {
  border: none;
  background: none;
}
.edit__button {
  margin-top: 50px;
  padding-right: 20px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
}
.edit__submitButton {
  width: 40%;
  height: 50px;
  border: none;
  background: #6379f4;
  box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
  border-radius: 12px;
  color: #ffffff;
}
.edit__imageForm {
  margin-top: 50px;
  width: 80%;
  height: 50px;
}
@media screen and (max-width: 800px) {
  .menu__main {
    display: none;
  }
  .footer__main {
    display: none;
  }
  .navbar__main {
    display: none;
  }
}
