.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get {
  color: blue;
  margin-top: 20px;
  border: none;
  background-color: aliceblue;
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
}
